<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dadashri.bhavesh.touchlock">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lock_logo"
        android:label="Touch Lock"
        android:roundIcon="@drawable/lock_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight" >

        <activity
            android:name=".AdminLockActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <receiver
            android:name=".AdminLockWidget"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.dadashri.bhavesh.touchlock.ACTION_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/admin_lock_widget_info" />
        </receiver>

        <activity
            android:name=".LockActivity"
            android:excludeFromRecents="true"
            android:exported="false" />
        <receiver
            android:name=".TouchLockWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/touch_lock_widget_info" />
        </receiver>
        <receiver
            android:name=".AdminReceiver"
            android:description="@string/device_admin_description"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".LockScreenAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".LockScreenDeviceAdminReceiver"
            android:description="@string/device_admin_description"
            android:exported="false"
            android:label="@string/label_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:label="@string/label_device_admin"
                android:resource="@xml/device_admin" />
        </receiver>
    </application>

</manifest>